.grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    font-size: 100%;
    background-color: #ccc;
}

.row {
    display: flex;
}

.box {
    background: #fff;
    margin: 1vw;
    color: #000;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative;
    border-radius: 100%;
}

.box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}

.peopleC {
    border: 1vw solid;
    border-color: #00f;
}

.cardinalC {
    border: 1vw solid;
    border-color: #f00;
}

.collateralC {
    border: 1vw solid;
    border-color: #f88;
}

.peopleFC {
    color: #00f;
}

.cardinalFC {
    color: #f00;
}

.collateralFC {
    color: #f88;
}